a, abbr, acronym, address, applet, article,
aside, audio, b, big, blockquote, body, canvas,
caption, center, cite, code, dd, del, details,
dfn, div, dl, dt, em, embed, fieldset, figcaption,
figure, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, html, i, iframe, img, ins,
kbd, label, legend, li, mark, menu, nav, object,
ol, output, p, pre, q, ruby, s, samp, section,
small, span, strike, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, tt,
u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
  font-family: sans-serif;
  color: #444;
}

a:-webkit-any-link {
    color: inherit;
    text-decoration: none;
    cursor: auto;
}

.container {
  max-width: 1040px;
  width: 1040px;
  margin: auto;
}

button, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  border-radius: 4px;
  background-color: #9E9E9E;
}

button::-moz-focus-inner{
  padding : 0;
  border  : 0;
}

button:focus {
  outline: none;
}

h2 {
  padding-bottom: 4px;
  margin-bottom: 24px;
  border-bottom: 1px solid #CCC;
}

h2 span {
  padding-bottom: 4px;
  border-bottom: 2px solid #00B8D4;
}

/* Serie Page Component */

.serie-page{ 
  padding: 25px;
}

.serie-page .header {
  padding: 0px 0px 25px 0px;
}

.serie-info {
  display: flex;
}

.serie-image img {
  display: block;
}

.serie-overview {
  display: flex;
  flex-direction: column;
  padding-left: 25px; 
}

.serie-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.serie-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.serie-genre {
  display: flex;
}

.serie-genre-item {
  font-size: 12px;
  font-weight: bold;
  padding: 2px 8px;
  margin-right: 4px;
  border-radius: 4px;
  color: rgba(0,0,0,0.87);
  background-color: #00B8D4;
}

.serie-rating {
  font-weight: bold;
}

.serie-summary {
  text-align: justify;
}

.serie-cast { 
  margin-top: 50px;
}

/* Actor */

.actor-overview {
  display: flex;
  align-items: center;
  max-height: 45px;
  border-bottom: 1px solid #CCC;
}

.actor-overview img {
  height: 45px;
  margin-right: 12px;
}

/* Grid */

.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.grid-item, .grid--load-more {
  padding: 25px;
}

.grid--load-more button {
  width: 100%;
  padding: 8px 0px;
}

/* Thumbnail */

.thumbnail {
  max-width: 210px;
  overflow: hidden;
  border-radius: 2px;
}

.thumbnail-image-alt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 208px;
  height: 293px;
  font-weight: bold;
  border: 1px solid #CCC;
}

.thumbnail-content {
  position: relative;
  min-height: 53px;
}

.thumbnail-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  min-height: 36px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

/* List */ 

.list-container {
  display: flex;
  flex-direction: column;
}

/* Header */ 

.header {
  display: flex;
  justify-content: space-between;
  padding: 25px 25px 0px 25px;
}

.header button, .header a {
  font-size: 14px;
  text-transform: uppercase;
  background-color: #FFF;
}

.header a {
  font-weight: bold;
}

/* Search Bar */

.search-bar {
  display: flex;
  flex-direction: row-reverse;
}

.search-bar input {
  width: 210px;
  margin-right: 12px;
  border-bottom: 1px solid #CCC;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  background-color: #FFF;
  color: #CCC;
}

@media (max-width: 1100px) {
  .container {
    max-width: 780px;
    width: 780px;
    margin: auto;
  }
}

@media (max-width: 796px) {
  .container {
    max-width: 520px;
    width: 520px;
    margin: auto;
  }
}

@media (max-width: 536px) {
  .container {
    max-width: 260px;
    width: 260px;
    margin: auto;
  }
}