a, abbr, acronym, address, applet, article,
aside, audio, b, big, blockquote, body, canvas,
caption, center, cite, code, dd, del, details,
dfn, div, dl, dt, em, embed, fieldset, figcaption,
figure, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, html, i, iframe, img, ins,
kbd, label, legend, li, mark, menu, nav, object,
ol, output, p, pre, q, ruby, s, samp, section,
small, span, strike, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, tt,
u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
  font-family: sans-serif;
  color: #444;
}

.container {
  max-width: 1040px;
  width: 1040px;
  margin: auto;
}

button, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  border-radius: 4px;
  background-color: #9E9E9E;
}

button::-moz-focus-inner{
  padding : 0;
  border  : 0;
}

button:focus {
  outline: none;
}

/* Grid */

.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.grid-item, .grid--load-more {
  padding: 25px;
}

.grid--load-more button {
  width: 100%;
  padding: 8px 0px;
}

/* Thumbnail */

.thumbnail {
  max-width: 210px;
  overflow: hidden;
  border-radius: 2px;
}

.thumbnail-content {
  position: relative;
  min-height: 53px;
}

.thumbnail-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  min-height: 36px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1100px) {
  .container {
    max-width: 780px;
    width: 780px;
    margin: auto;
  }
}

@media (max-width: 796px) {
  .container {
    max-width: 520px;
    width: 520px;
    margin: auto;
  }
}

@media (max-width: 536px) {
  .container {
    max-width: 260px;
    width: 260px;
    margin: auto;
  }
}